# Dependencies
node_modules
npm-debug.log

# Build outputs
dist
dist-server

# Environment and secrets
.env
.env.*
.env.local
.env.development
.env.production
.env.test
*.env

# Git files
.git
.gitignore
.github

# IDE specific files
.vscode
.idea
*.iml

# Logs
logs
*.log
npm-debug.log*

# misc
.DS_Store